{% load static %}  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ab566bad4a.js" crossorigin="anonymous"></script>  
    <link rel="stylesheet" href="{% static 'app/css/footer.css' %}"> 
    {% block css %}

    {% endblock %} 
</head>
<body>
    
    <nav>
        <div class="logo"><strong><img src="{% static 'app/image/logo-acme.png' %}" alt=""></strong></div>
        <ul class="links"> 


                    
        {% block navbar %} 
        {% endblock %}
                                
            
        </ul> 

    </nav>
    
    <div class="contenido">
        <!--Base para agregar contenido-->
        {% block contenido %}
       
        {% endblock %}

    </div>
</body>
<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Contactanos </h6>
          <p class="text-justify"> <i> </i> 
            Direccion: Calle 87N 34-45 Tuluá – Valle del Cauca <br>
            Telefono: +57 234 902 90 54<br>
            Correo: gerencia@acmeinc.com<br> 
          </p>
        </div> 
      </div>
      <hr>
    </div>
      
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2021 Todos los derechos reservados por  
        <a href="#"> OverTech Complexity</a>
          </p>
        </div>
  
        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
  </footer>
</html>
