{% load static %}  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ab566bad4a.js" crossorigin="anonymous"></script>  
    {% block css %}

    {% endblock %} 
</head>
<body>
    
    <nav>
        <div class="logo"><strong><img src="{% static 'app/image/logo-acme.png' %}" alt=""></strong></div>
        <ul class="links"> 

            {% if user.is_authenticated %} 

                {% if  Usuario.Cargo == 1 %}
                    
                    <li><a href="{% static 'app/Consulta.html' %}">Registrar consulta</a></li>
                    <li><a href="{% static 'app/Historial.html' %}">Consultar historial </a></li>
                    <li> <a href="#">{{user.first_name}} <span class="" ><i class="fas fa-user-md"></i></span></a>
                        <ul>
                            <li><a href="{% url 'logout' %}"> Cerrar sesión</a></li>
                        </ul>
                    </li>  

                {% elif Usuario.Cargo == 2 %}
            
                    <li><a href="RegistroCliente">Registrar Cueño</a></li>
                    <li><a href="RegistroMascota">Registrar Paciente</a></li>
                    <li><a href="{% static 'app/RegistroMascota' %}">Registrar Paciente</a></li>
                    <li> <a href="#">{{user.first_name}}<span class="" ><i class="fas fa-chalkboard-teacher"></i></span></a>
                        <ul>
                            <li><a href="{% url 'logout' %}"> Cerrar sesión</a></li>
                        </ul>
                    </li> 
                {% else %}  
                    <li><a href="#">Gestionar Usuarios</a>
                        <ul>
                            <li><a href="RegistroUsuario">Registrar Usuario</a></li>
                            <li><a href="BuscarUsuario">Buscar Usuario</a></li>
                        </ul>
                    </li>

                    <li><a href="#">Gestionar Servicio</a>
                        <ul>
                            <li><a href="#">Registrar Servicio</a></li>
                            <li><a href="#">Buscar Servicio</a></li>
                        </ul>
                    </li>

                    <li><a href="#">Generar Reporte</a> </li>

                    <li> <a href="#">{{user.username}} <span class="" ><i class="fas fa-user-tie"></i></span></a>
                        
                        <ul>
                        <li><a href="{% url 'logout' %}"> Cerrar sesión</a></li>
                        </ul>
                    </li> 
                
                {% endif %} 
            
            {% else %}
                <li><a href="{% url 'logout' %}">INICIAR SESION</a>
            {% endif %}
            
        </ul> 

    </nav>
    
    <div class="contenido">
        <!--Base para agregar contenido-->
        {% block contenido %}
       
        {% endblock %}

    </div>
</body>

<footer>

</footer>
</html>