{% extends 'app/BaseA.html' %}

{% load static %}


{% block cssA %} 
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'app/css/ListarClientes.css' %}"> 
<link rel="stylesheet" href="{% static 'app/css/BarraA.css' %}"> 
<title>SCVA_ADMINISTRADOR</title>
{% endblock%}

{% block contenidoA %}

    {% if servicios %}
        <div class="loginBox"> 
            <h1>Servicios Registrados</h1> 
            <!--Barra de busqueda-->
            <div class="row">
                <div class="col-md-12 search">
                    <form method="GET">
                        <div id="custom-search-innput">
                            <div class="input-group col-md-12">
                                <input type="text" class="form-control" placeholder="Buscar..." name="Buscar">
                                <span class="input-group-list"> 
                                   
                                    <button type="submit" class="btn btn-success"> <i class="fas fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <div class="card"> 
                <table class = "table table-striped table-hover ">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                            <th>Valor</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for Servicio in servicios %}
                            <tr>
                                <td>{{Servicio.Codigo}}</td>
                                <td>{{Servicio.Nombre}}</td>
                                <td>{{Servicio.Cantidad}}</td> 
                                <td>{{Servicio.Valor}}</td> 
                                <td> <a href="{% url 'app:ModificarServicio' Servicio.id %}" class="btn btn-primary">Modificar</a></td>
                                <td> <a href="#" onclick="eliminarServicio({{p.id}})" class="btn btn-danger">Eliminar</a></td>
                            </tr> 
                        {% endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <div class="loginBox"> 
            <h1>No existen servicios registrados</h1> 
            <div class="row">
                <div class="col-md-12 search">
                    <form method="GET">
                        <div id="custom-search-innput">
                            <div class="input-group col-md-12">
                                <input type="text" class="form-control" placeholder="Buscar..." name="Buscar">
                                <span class="input-group-list"> 
                                   
                                    <button type="submit" class="btn btn-success"> <i class="fas fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    
{% endblock %}
{% block jsA %}
        <script>
            function eliminarServicio(id){
                Swal.fire({
                    "title": "¿Está usted seguro de continuar con esta eliminación?",
                    "text": "Esta acción no se puede deshacer",
                    "icon": "question",
                    "showCancelButton": true,
                    "cancelButtonText":"Cacelar",
                    "confirmButtonText": "Comfirmar",
                    "reverseButtons":true,
                    "confirmButtonColor":"#dc3545",
                    "cancelButtonColor":"#0d6efd"
                })
                .then(function(result){
                    if(result.isComfirmed){
                        window.location.href= "/EliminarServicio-"+id+"/"
                    }
                })
            }
        </script>
{% endblock %}