{% extends 'app/BaseV.html' %}

{% load static %}

{% block cssV %}
    <link rel="stylesheet" href="{% static 'app/css/RegistroUsuario.css' %}"> 
    <link rel="stylesheet" href="{% static 'app/css/BarraA.css' %}"> 
    <title>SCVA_VETERINARIO</title>
{% endblock %} 

{% block contenidoV %}
    <div class="loginBox"> 
            <h1>Detalles de Entrada</h1>
            <form   action=""  method="POST">
                {% csrf_token %}
                <div class="input-contenedor">
                    <div class="input-contenedor">
                        <i class="far fa-folder"></i>
                        {{form.Historia_id}} 
                        
                        <i class="fas fa-user-nurse"></i>
                        {{form.Veterinario}} 
                    </div>

                    <div class="input-contenedor">
                        <i class="far fa-calendar-alt"></i>
                        {{form.Fecha}} 

                        <i class="fas fa-clipboard-list"></i>
                        {{form.Tipo}}
                    </div> 
                    <br>
                    <div class="input-contenedor">  
                        {{form.Observaciones}}  
                    </div>  
                
            
        </form>
{% endblock%}