{% extends 'app/Base.html' %}
{% load static %}

{% block css %} 
    <link rel="stylesheet" href="{% static 'app/css/BarraA.css' %}"> 
    <title>SCVA_INICIO</title>
{% endblock %} 

{% block navbar %}
	{% if type == 1 %}
        <li><a href="#">Gestionar historia clínica</a>
            <ul>
                <li><a href="RegistrarHistorial">Registrar historia clínica</a></li>
                <li><a href="ConsultarHistorial">Consultar historia Clínica</a></li>
            </ul>
        </li>
	
        <li><a href="entrada">Registrar entrada </a></li>
        <li> <a href="#">{{user.first_name}} <span class="" ><i class="fas fa-user-md"></i></span></a>
            <ul>
                <li><a href="{% url 'logout' %}"> Cerrar sesión</a></li>
            </ul>
        </li>  
	{% elif type == 2 %}

        <li><a href="RegistroCliente">Registrar Cliente</a></li>
        <li><a href="ListarClientes">Registrar Mascota</a></li>
        <li><a href="Facturar">Facturar</a></li>
        <li> <a href="#">{{user.first_name}}<span class="" ><i class="fas fa-chalkboard-teacher"></i></span></a>
            <ul>
                <li><a href="{% url 'logout' %}"> Cerrar sesión</a></li>
            </ul>
        </li>  
	  {% elif type == None %}
                <li><a href="{% url 'logout' %}">INICIAR SESION</a>
	  {% else %}
	  <li><a href="#">Gestionar Usuarios</a>
                        <ul>
                            <li><a href="RegistroUsuario">Registrar Usuario</a></li>
                            <li><a href="BuscarUsuario">Buscar Usuario</a></li>
                        </ul>
                    </li>

                    <li><a href="#">Gestionar Servicios</a>
                        <ul>
                            <li><a href="RegistroServicio">Registrar Servicio</a></li>
                            <li><a href="BuscarServicio">Buscar Servicio</a></li>
                        </ul>
                    </li> 

                    <li><a href="{% static 'app/GenerarReporte.html' %}">Generar Reporte</a> </li>

                    <li> <a href="#">{{user.username}} <span class="" ><i class="fas fa-user-tie"></i></span></a>
                        
                        <ul>
                        <li><a href="{% url 'logout' %}"> Cerrar sesión</a></li>
                        </ul>
                    </li> 
                
        {% endif %} 

{%endblock%}
{% block contenido %}

{% endblock %}
