{% extends 'app/BaseV.html' %}

{% load static %}

{% block cssV %}
    <link rel="stylesheet" href="{% static 'app/css/Listar.css' %}"> 
    <link rel="stylesheet" href="{% static 'admin/css/vendor/select2/select2.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/autocomplete.css' %}"> 
    <link rel="stylesheet" href="{% static 'app/css/BarraV.css' %}"> 
    <title>SCVA_VETERINARIO</title>
{% endblock %} 

{% block contenidoV %}
    <div class="loginBox"> 
        <h1>Registrar Entrada</h1>
        <form   action=""  method="POST">
            {% csrf_token %}
            <div class="input-contenedor">
                
                <div class="input-contenedor">
                    <i class="far fa-folder"></i>
                    {{form.Historia_id}}  
                </div>

                <div class="input-contenedor"> 
                    <i class="fas fa-user-nurse"></i>
                    {{form.Veterinario}} 
                    <i class="far fa-calendar-alt"></i>
                    {{form.Fecha}} 

                    
                </div> 

                <div class="input-contenedor"> 
                    <i class="fas fa-clock"></i>
                    {{form.Hora}}
                    
                    <i class="fas fa-clipboard-list"></i>
                    {{form.Tipo}}
                </div> 
                <p></p>
                <div class="input-contenedor">  
                    {{form.Observaciones}}  
                </div>  

            <button type="submit" id="boton" class="btn">Registrar</button> 
        </form>
    
{% endblock%}
 
{% block jsV %} 
    <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'admin/js/vendor/select2/select2.full.js' %}"></script>
    <script src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script src="{% static 'admin/js/autocomplete.js' %}"></script>
{% endblock %}