{% extends 'app/Base.html' %}

{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'app/css/RegistroUsuario.css' %}"> 
    <link rel="stylesheet" href="{% static 'app/css/BarraA.css' %}"> 
    <title>SCVA_ADMINISTRADOR</title>
{% endblock %} 

 
{% block contenido %}
    <div class="loginBox">
        <h1>Registro de Usuario</h1> 
        <form action="" class="UsuarioForm" method="POST">
            
            {% csrf_token %} 
            <div class="contenedor">
                <div class="input-contenedor">
                    <i class="far fa-address-card"></i>
                     {{ form.Cedula }}  
                
                    <i class="fas fa-user-edit"></i>
                    {{form.Nombre}} 
                </div> 

                <div class="input-contenedor">
                    <i class="fas fa-user-edit"></i>
                    {{form.Apellido}}
                 
                    <i class="fas fa-phone-volume"></i>
                    {{form.Telefono}} 
                
                <div class="input-contenedor">
                    <i class="fas fa-home"></i>
                    {{form.Direccion}} 
                 
                    <i class="fas fa-at"></i>
                    {{form.Correo}} 
                </div>
                
                <div class="input-contenedor">
                    <i class="far fa-user-circle"></i> 
                    {{form.Cargo}} 
                 
                    <i class="far fa-user-circle"></i> 
                    {{form.Estado}} 
                </div> 

                <div class="input-contenedor">
                    <i class="fas fa-unlock-alt"></i>
                    {{form.Contraseña}}  
                </div>



            </div>
            
            <button type="submit" id="boton" class="btn">REGISTRAR</button>

        </form>   
    </div>
{% endblock %}

 
    
        

        
    

         