body{
    margin: 0;
    padding: 0; 
    background: url(../image/fondo4.png) no-repeat center;
    background-size: cover ;
    font-family: sans-serif;
    height: 100vh;
}

img{
    margin-top: 30px;
    margin-left: 37%;
    width: 27%;
    height: 15%;
}

.loginBox{
    margin-top: 240px;
    margin-bottom: 150px;
    width: 700px;
    height: 480px;
    background: #000000;
    opacity: 80%;
    color: #fff;
    top: 20%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box; 
    padding: 3% 3%; 
    border-radius: 7px;
}

.loginBox h1{
    margin: 0;
    padding: 0 0 40px;
    text-align: center;
    font-family: sans-serif;
    color: #FFF;
    text-shadow: black 0.1em 0.1em ;
    font-size: 40px;
}

.loginBox label{
    margin: 0;
    padding: 20px;
    font-weight: bold;
    text-shadow: black 0.1em 0.1em;
    display: block;
    font-size: 20px; 
}

.loginBox input{
    width: 40%;
    margin-bottom: 30px;
}

.loginBox Select{
    width: 30%;
    margin: 0  5% 0 0 ;
    border: none;
    border-bottom: 1px solid #fff;
    background: rgba(0, 0, 0, 0.685);
    outline: none;
    height: 40px;
    color: rgb(255, 255, 255);
    font-size: 15px;   
}

.loginBox input[type="email"],
.loginBox input[type="text"],
.loginBox input[type="number"],
.loginBox input[type="password"]{ 
    margin: 0  5% 0 0 ;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 15px;   
}

.btn{  
    margin-top: 12%;
    margin-left: 50%;
    display: inline-block;
    padding: 2% 9%;
    text-decoration: none;
    background: #f50505; 
    color: #fff;
    font-size: 25px;
    text-shadow: black 0.1em 0.1em;
    border-radius: 7px;
    transform: translate(-50%, -50%);
}
 
 
form span a{ 
    padding: 0;
    color: white;
}

